<!-- checkout.html -->
<h1>Checkout</h1>
<p>{{ user.customer.location }}</p>



<h2>Address Details:</h2>
<p>District: {{ user.customer.district }}</p>
<p>House Number: {{ user.customer.house_number }}</p>
<p>Road: {{ user.customer.road }}</p>

<h2>Contact:</h2>
<p>{{ user.customer.contact }}</p>

<!-- Add a "Continue" button for the next step -->
<h2>Order Details:</h2>
<ul>
    {% for order_detail in order_details %}
    <li>
        Product: {{ order_detail.product_size.product.product_name }}<br>
        Size: {{ order_detail.product_size.size }}<br>
        Quantity: {{ order_detail.quantity }}<br>
        Total Price: ${{ order_detail.total_price }}
    </li>
    {% endfor %}
</ul>
