{% extends 'Orderfolder/ordermenu.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/ordercss/drinks.css' %}" />


<h1>
    Menu
</h1>
<h2 style="margin-bottom: 8%;">Drinks</h2>
<hr style="margin-bottom: 3%;">
<div class="orderpl">
    {% with "" as displayed_product_names %}
    {% for product in products %}
        {% if product.product_name not in displayed_product_names %}
            {% with product.image.url as image_url %}
                <div class="block1">
                    <div class="b1p1">
                        <a href="">
                            <img src="{{ image_url }}">
                            <h3>{{ product.product_name }}</h3>
                        </a>
                    </div>
                </div>
                
            {% endwith %}
            {% with displayed_product_names|add:product.product_name as displayed_product_names %}
            {% endwith %}
        {% endif %}
    {% endfor %}
    {% endwith %}
</div>



{% endblock content %}
