{% extends 'menufolder/menu1.html' %}
{% load static %}
{% block content %}

<style>
    .block-preorder{
        margin: 3% 0% 3% 12%;
    }
   .block-preorder .presiginin{
        background-color: white;
        color: black;
        width: 6%;
        height: 45px;
        border-radius: 25px;
    }
    .block-preorder .prejoinnow{
        background-color: #A0522D;
        color: white;
        width: 6%;
        height: 45px;
        border-radius: 25px;
    }
</style>

<div class="block-preorder">

    <h1>Favorite Products</h1><br>
    <img src="{% static 'image/order/Screenshot 2023-09-15 110446.png' %}" alt=""><br>
    <h1>Save your favorite <br> mixes</h1><br><br>
    <p>Use the heart to save customizations. Your favorites will appear here to order again.</p>
    <div class="prebtn">
        <input type="button" class="presiginin" value="Sigin in" name="" id="">
        <input type="button" class="prejoinnow" value="Join Now" name="" id="">
    </div>
</div>

{% endblock content %}


  
