<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="singin.css">
    <title>Document</title>

</head>
<body>
    <h1 class="create-acc">Create an account</h1>
    <form method="post" action = "{% url 'userprofile:login' %}">
        <!-- {% csrf_token %} -->
        <div class="container">
            <div class="personal-info">
                <h6>* indicates required field</h6>
                <h3>Personal Information</h3>
                <input type="text" placeholder="* First name">
                <input type="text" placeholder="* Last name">
            </div>
            <div class="personal-info">
                <h3>Account Security</h3>
                <input type="text" placeholder="* Email address">
                <input type="text" placeholder="* Password">
                <h6 class="pass-warn">Create a password 8 to 25 characters long that includes at least 1 uppercase and 1 lowercase letter, 1 number and 1 special character like an exclamation point or asterisk.</h6>
            </div>
            <div class="personal-info">
                <h3>TERMS OF USE</h3>
                <div class="ctn">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </form>
</body>
</html>